include partials/header
div.container
  if (active.length>0)
    div.card(style={'margin-top':'10px'})
      h3.card-header.card-success Active Polls
      each result in active
        div.card-block
          form.form-horizontal(action="/save-active", method="get")
            div.form-group.row
              div.col-xs-12
                div.input-group
                  span.input-group-addon Poll
                  input(type="text", class="form-control", value=result.poll_text, 'aria-describedby'="basic-addon1",readonly)
            div.form-group.row
              div.col-xs-2
                div.input-group
                  span.input-group-addon Res. 1
                  input(type="text", class="form-control", value=result.text1, 'aria-describedby'="basic-addon1", name='text1', readonly)
              div.col-xs-2
                div.input-group
                  span.input-group-addon Res. 2
                  input(type="text", class="form-control", value=result.text2, 'aria-describedby'="basic-addon1", name='text2', readonly)
              if(result.response_no=='3'||result.response_no=='4')
                div.col-xs-2
                  div.input-group
                    span.input-group-addon Res. 3
                    input(type="text", class="form-control text3",value=result.text3, 'aria-describedby'="basic-addon1", name='text3', readonly)
              if(result.response_no=='4')
                div.col-xs-2
                  div.input-group
                    span.input-group-addon Res. 4
                    input(type="text", class="form-control text4",value=result.text4, 'aria-describedby'="basic-addon1", name='text4', readonly)
              input.form-control(type="text", name="poll_id", value=result.poll_id, style={'display':'none'})
  div.card(style={'margin-top':'10px'})
    h3.card-header.card-info Draft Polls
      button.btn.btn-large.btn-secondary(type="button", data-toggle="collapse", data-target="#newPoll", aria-expanded="false", aria-controls="newPoll" style={'float':'right'}) Create New
    div.card-block(style={'border-bottom':'1px solid rgba(0,0,0,.125)','background-color':'#f5f5f5'}).collapse#newPoll
      form(action="/add-poll", method="get")
        div.form-group.row
          div.col-xs-12
            div.input-group
              span.input-group-addon Poll (limit 110 char)
              input(type="text", class="form-control", placeholder="Enter Poll Text Here", 'aria-describedby'="basic-addon1", id='question_text', name='poll_text')
        div.form-group.row
          div.col-xs-2
            div.input-group
              span.input-group-addon Order
              input(type="text", class="form-control", value="1", 'aria-describedby'="basic-addon1", name='order')
          div.col-xs-2
            div.dropdown
              button.btn.dropdown-toggle(type='button', 'data-toggle'="dropdown", 'aria-haspopup'="true", 'aria-expanded'="false")
                span Responses
              div.dropdown-menu#dropdown-response
                button.dropdown-item(value="2") 2
                button.dropdown-item(value="3") 3
                button.dropdown-item(value="4") 4
          div.col-xs-2
            div.input-group
              span.input-group-addon Res. 1
              input(type="text", class="form-control", value="RHYes", 'aria-describedby'="basic-addon1", name='text1')
          div.col-xs-2
            div.input-group
              span.input-group-addon Res. 2
              input(type="text", class="form-control", value="RHNo", 'aria-describedby'="basic-addon1", name='text2')
          div.col-xs-2.three(style={'display':'none'})
            div.input-group
              span.input-group-addon Res. 3
              input(type="text", class="form-control text3", 'aria-describedby'="basic-addon1", name='text3')
          div.col-xs-2.four(style={'display':'none'})
            div.input-group
              span.input-group-addon Res. 4
              input(type="text", class="form-control text4", 'aria-describedby'="basic-addon1", name='text4')
        div.form-group.row
          input.form-control.response_no(type="text", name="response_no", value=2, style={'display':'none'})
          div.col-xs-3.col-md-2
            button.btn.btn-large.btn-primary.form-control(type="submit") Save
    if (inactive.length>0)
      each result in inactive
        div.card-block(style={'border-bottom':'1px solid rgba(0,0,0,.125)'})
          form(action="/trigger-poll", method="get")
            div.form-group.row
              div.col-xs-12
                div.input-group
                  span.input-group-addon Poll (limit 110 char)
                  input(type="text", class="form-control", value=result.poll_text, 'aria-describedby'="basic-addon1", id='question_text', name='poll_text')
            div.form-group.row
              div.col-xs-2
                div.input-group
                  span.input-group-addon Order
                  input(type="text", class="form-control", value=result.order, 'aria-describedby'="basic-addon1", name='order')
              div.col-xs-2
                div.input-group
                  span.input-group-addon Res. 1
                  input(type="text", class="form-control", value=result.text1, 'aria-describedby'="basic-addon1", name='text1')
              div.col-xs-2
                div.input-group
                  span.input-group-addon Res. 2
                  input(type="text", class="form-control", value=result.text2, 'aria-describedby'="basic-addon1", name='text2')
              if(result.response_no=='3'||result.response_no=='4')
                div.col-xs-2
                  div.input-group
                    span.input-group-addon Res. 3
                    input(type="text", class="form-control text3",value=result.text3, 'aria-describedby'="basic-addon1", name='text3')
              if(result.response_no=='4')
                div.col-xs-2
                  div.input-group
                    span.input-group-addon Res. 4
                    input(type="text", class="form-control text4",value=result.text4, 'aria-describedby'="basic-addon1", name='text4')
            div.form-group.row
              input.form-control.response_no(type="text", name="response_no", value=result.response_no, style={'display':'none'})
              input.form-control(type="text", name="poll_id", value=result.poll_id, style={'display':'none'})
              div.col-xs-3
                div.btn-group(role="group")
                  button.btn.btn-large.btn-primary(name="trigger", type="submit", value="save") Save
                  button.btn.btn-large.btn-danger(name="trigger", type="submit", value="delete") Delete
                  button.btn.btn-large.btn-primary(name="trigger", value="launch", type="submit",style={'background':'green','border-color':'green'}) Launch
  if(used.length>0)
    div.card(style={'margin-top':'10px'})
      h3.card-header.card-default Previous Polls
      each result in used
        div.card-block(style={'border-bottom':'1px solid rgba(0,0,0,.125)'})
          form.form-horizontal(action="/trigger-poll", method="get")
            div.form-group.row
              div.col-xs-11
                div.input-group
                  span.input-group-addon Poll
                  input(type="text", class="form-control", value=result.poll_text, 'aria-describedby'="basic-addon1",readonly)
            div.form-group.row
              div.col-xs-3
                div.input-group
                  span.input-group-addon Res. 1
                  input(type="text", class="form-control", value=result.text1, 'aria-describedby'="basic-addon1", name='text1', readonly)
              div.col-xs-3
                div.input-group
                  span.input-group-addon Res. 2
                  input(type="text", class="form-control", value=result.text2, 'aria-describedby'="basic-addon1", name='text2', readonly)
              if(result.response_no=='3'||result.response_no=='4')
                div.col-xs-3
                  div.input-group
                    span.input-group-addon Res. 3
                    input(type="text", class="form-control text3",value=result.text3, 'aria-describedby'="basic-addon1", name='text3', readonly)
              if(result.response_no=='4')
                div.col-xs-3
                  div.input-group
                    span.input-group-addon Res. 4
                    input(type="text", class="form-control text4",value=result.text4, 'aria-describedby'="basic-addon1", name='text4', readonly)
            div.form-group.row
              input.form-control(type="text", name="poll_id", value=result.poll_id, style={'display':'none'})
              div.col-xs-2
                button.btn.btn-large.btn-danger(name="trigger", type="submit", value="delete") Delete
script(src="/index.js")
