html
  head
    title=title
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js")
    script(src="/js/tether.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css", rel='stylesheet', type="text/css")
    link(href="chart.css",rel='stylesheet',type='text/css')
  body
    div.container
      canvas(id="chart",height="600",width="600")
      div.title #{name}
      div.legend
        div.row
          div.col-xs-2.green
            if(text1.toLowerCase()=='rhyes')
              div.label.one Yes
            else
              div.label.one #{text1}
        div.row
          div.col-xs-2.blue
            if(text2.toLowerCase()=='rhno')
              div.label.two No
            else
              div.label.two #{text2}
        if(response_no>2)
          div.row
            div.col-xs-2.grey
              div.label.three #{text3}
        if(response_no>3)
          div.row
            div.col-xs-2.blue
              div.label.four #{text4}
      img.logo(src="RHIC_Logo_noTexture_01.png")
    script(type="text/javascript").
      var vote1=#{vote1}
      var vote2=#{vote2}
      var vote3=#{vote3}
      var vote4=#{vote4}
      var text1='#{text1}'
      var text2='#{text2}'
      var text3='#{text3}'
      var text4='#{text4}'
      var name='#{name}'
      var response_no=#{response_no}
    script(src="/RHICChart.js")
